
/* Pokemon Modal */
.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Darken the background */

    justify-content: center;
    align-items: center;
}

/* Modal Box */
.modal-content {
    background-color: white;
    width: 400px;
    min-height: 300px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

/* X close at top right of Modal Box */
#close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    border: none;
    background: none;
    cursor: pointer;
}

/* Styles inside modal */
.modal-image {
    width: 200px;
    height: 200px;
    image-rendering: pixelated; /* Makes img more clear by keeping pixels sharp and larger */
}

.modal-types {
    margin: 10px 0; /* container around types, 10px top and bot, 0px left and right */
}

.modal-type {   /* Controls each individual type */
    display: inline-block;  /* each type to sit next to each other, in a row */
    padding: 5px 12px;
    margin: 3px;
    border-radius: 10px;
    text-transform: capitalize;
    color: white;
}

.pokemon-details {
    margin-top: 20px;
}

.pokemon-stats {
    margin-top: 20px;
}

.pokemon-stats p {
    margin: 5px;
    text-transform: capitalize;
}
