
/* Pokemon Modal */
.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Darken the background */

    justify-content: center;
    align-items: center;
}

/* Modal Box */
.modal-content {
    background-color: white;
    width: 450px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    
    /* width: 400px;
    min-height: 300px;
    padding: 20px; */
}

/* Capitalize Pokemon name in Modal, and change Font */
.modal-content h2 {
    font-family: "Press Start 2P", cursive;
    text-transform: capitalize;
    font-size: 20px;
}

/* X close at top right of Modal Box */
#close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    border: none;
    background: none;
    cursor: pointer;
}

/* Styles inside modal */
.modal-image {
    width: 200px;
    height: 200px;
    image-rendering: pixelated; /* Makes img more clear by keeping pixels sharp and larger */
}

.modal-types {
    margin: 10px 0; /* container around types, 10px top and bot, 0px left and right */
}

.modal-type {   /* Controls each individual type */
    display: inline-block;  /* each type to sit next to each other, in a row */
    padding: 5px 12px;
    margin: 3px;
    border-radius: 10px;
    text-transform: capitalize;
    color: white;
}

.pokemon-details {
    margin-top: 20px; /* margin between types and height */
}

.pokemon-description {
    margin: 15px auto;
    max-width: 400px;
    line-height: 1.6;
    font-size: 16px;
}

.pokemon-stats {
    margin-top: 20px; /* margin between abilities and base stats */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.pokemon-stats h3 {
    font-family: "Press Start 2P", cursive;
    font-size: 14px;
}

.pokemon-stats p { /* finds every <p> in stats and styles it */
    margin: 5px;
    text-transform: capitalize;
}


/* Stats */
.stat {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0; /* container margin top and bot 10 px */
}

.stat-name {
    width: 105px;
    white-space: nowrap;
    text-align: left;
    text-transform: capitalize;
}

.stat-bar {
    width: 210px;
    height: 12px;
    background-color: #ddd;
    border-radius: 6px;
    overflow: hidden;
}

.stat-fill {
    height: 100%;
    /* background-color: #4caf50; /* color the bar */
    border-radius: 6px;
    transition: width 0.5s ease;
}

.stat-value {
    width: 30px;
    text-align: right;
}

.stat-fill.low {
    background-color: red;
}

.stat-fill.medium {
    background-color: yellow;
}

.stat-fill.high {
    background-color: green;
}
