
/* Title of Page */
.h1 {
    justify-content: center;
}

/* Pokemon container */
#pokemon-container {
    display: grid;
    grid-template-columns: repeat(4, 250px);    /* container size */
    justify-content: center;    /* Center Containers */
    gap: 20px;
}

@media (max-width: 900px) { /* Tablet 2 per row */
    #pokemon-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) { /* Phone 1 per row */
    #pokemon-container {
        grid-template-columns: 1fr;
    }
}


/* Pokemon Card within the container */
.pokemon-card {
    border: 1px solid black;
    padding: 10px;

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pokemon-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {     /* Center Pokemon Img */
    display: block;
    margin: 0 auto;
}


/* Capitalizing Pokemon Names and Types */
.pokemon-card h2 {
    text-transform: capitalize;
}

.type {
    text-transform: capitalize;
}
