
/* Title of Page */
h1 {
    text-align: center;
    padding: 10px;
}

/* Font of page */
body {
    font-family: "Nunito", sans-serif;
    background-color: #2b2b2b; /* 333333 a little lighter */
}

/* Pokemon container */
#pokemon-container {
    display: grid;
    grid-template-columns: repeat(4, 250px);    /* container size */
    justify-content: center;    /* Center Containers */
    gap: 20px;
}

@media (max-width: 900px) { /* Tablet 2 per row */
    #pokemon-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) { /* Phone 1 per row */
    #pokemon-container {
        grid-template-columns: 1fr;
    }
}


/* Pokemon Card within the container */
.pokemon-card {
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pokemon-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {     /* Center Pokemon Img */
    display: block;
    margin: 0 auto;
}


/* Capitalizing Pokemon Names and Font */
.pokemon-card h2 {
    font-family: "Press Start 2P", cursive;
    text-transform: capitalize;
    font-size: 16px;
}

/* Capitalizing Pokemon Types */
.type {
    text-transform: capitalize;
}
