
/* Pokemon container */
#pokemon-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 900px) { /* Tablet 2 per row */
    .pokemon-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) { /* Phone 1 per row */
    .pokemon-container {
        grid-template-columns: 1fr;
    }
}

/* Pokemon Card within the container */
.pokemon-card {
    border: 1px solid black;
    padding: 10px;

    cursor: pointer;
}

.pokemon-card:hover {
    background-color: yellow;
    transform: scale(1.1);
}
