
/* Type Background */
.type {
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.normal {
    background-color: rgb(187, 171, 153);
}

.grass {
    background-color: rgb(51, 158, 51);
}

.fire {
    background-color: rgb(223, 10, 10);
}

.water {
    background-color: rgb(72, 72, 252);
}

.fighting {
    background-color: brown;
}

.flying {
    background-color: lightblue;
}

.poison {
    background-color: rgb(97, 3, 97);
}

.ground {
    background-color: burlywood;
}

.rock {
    background-color: rgb(150, 120, 76);
}

.bug {
    background-color: rgb(152, 206, 64);
}

.ghost {
    background-color: rgb(143, 99, 143);
}

.steel {
    background-color: rgb(189, 188, 188);
}

.electric {
    background-color: rgb(221, 221, 14);
}

.psychic {
    background-color: rgb(230, 83, 108);
}

.ice {
    background-color: rgb(134, 191, 255);
}

.dragon {
    background-color: rgb(41, 8, 228);
}