
/* Type Background */
.type {
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.normal {
    background-color: grey;
}

.grass {
    background-color: green;
}

.fire {
    background-color: red;
}

.water {
    background-color: blue;
}

.fighting {
    background-color: brown;
}

.flying {
    background-color: lightblue;
}

.poison {
    background-color: purple;
}

.ground {
    background-color: burlywood;
}
